// 1. Import the initial variables
@import 'bulma/bulma';
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
$purple: hsl(275,87%,45%);
$red: rgb(156, 10, 20);
$back-footer: rgba(10, 10, 10, 0.48);
$purple-invert: findColorInvert($purple);
$red-invert: findColorInvert($red);
@import "bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "purple":($purple, $purple-invert),
  "red":($red, $red-invert),
);
$colors: map-merge($colors, $addColors);
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
html{overflow: hidden;}
body {
  min-height: 100vh;
  height: 100vh;
  background-color:#000;
  background-image:url('../images/background-app-01.jpg');
  background-image:url('../images/background-app-02.jpg');
  background-image:url('../images/background-app-03.jpg');
  background-image:url('../images/background-app-04.jpg') !important;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Titillium Web', sans-serif;
}
.has-background-lmpblack{ background-color: $back-footer !important; }
.is-inventory{border-radius: 5px;padding: 5px;}
.is-centered{display: flex;align-items: center;justify-content: center;}
#is-inventory-load-more{width:45%;background-color: $red;border-color: $red;border-radius: 5px;}
#is-searcher{padding: 5px 10px;margin-top: 25px;}
.copyright{width: 100%;border-top: 1px solid #fff;}
.Branded{min-height: 80px;}
#header{padding-top: 15px;}
.is-colored-nav{border-top: 1px solid rgb(255, 0, 0);border-bottom: 1px solid rgb(255, 0, 0);}
.navbar-menu.is-active {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.navbar-menu.is-active .navbar-end{text-align: center;padding-top: 30vh}
.navbar-burger.active{z-index: 99; top: 0; color:$red;}
#isHeaderLogo{height: 150px; margin-left: 50px;}
#isBrandedLogo{height: 15px;}
.slick-initialized .slick-slide {padding: 15px;}
.fade-enter {opacity: 0;z-index: 1;}
.fade-enter.fade-enter-active {opacity: 1;transition: opacity 250ms ease-in;}
.background-red{background-color: $red}
#is-search-btn{padding-left:15%;padding-right: 15%; margin: 15px 0 }
#is-search-btn button{ width: 180px;}
.car-detail-carousel{    width: calc(100vw - 23.175vw); border-radius: 5px;}
.car-detail-box{
  // width: 500px; 
  border-radius: 5px; 
  padding: 15px;
  background:rgb(156, 10, 20); /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,rgb(156, 10, 20), #000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,rgb(156, 10, 20), #000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#price{
  margin-top: -35px
}
#cookieBottomBox{position: fixed;bottom: 0%; z-index: 99; min-width: 100vw; z-index: 99999;}

.is-navbar-active-home{
  color: red !important;
  font-weight: bold;
	-webkit-animation: jello-diagonal-2 0.8s both;
	        animation: jello-diagonal-2 0.8s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-7-23 11:54:29
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
          animation: heartbeat 1.5s ease-in-out infinite both;
}
.jello-diagonal-2 {
	-webkit-animation: jello-diagonal-2 0.8s both;
          animation: jello-diagonal-2 0.8s both;
}
@-webkit-keyframes focus-in-expand{0% {letter-spacing:-0.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0;}100%{-webkit-filter:blur(0px);filter:blur(0px);opacity:1;}}@keyframes focus-in-expand{0%{letter-spacing:-0.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0;}100%{-webkit-filter:blur(0px);filter:blur(0px);opacity:1;}}
@-webkit-keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}
@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
@-webkit-keyframes jello-diagonal-2{0%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}30%{-webkit-transform:skew(-25deg -25deg);transform:skew(-25deg -25deg)}40%{-webkit-transform:skew(15deg,15deg);transform:skew(15deg,15deg)}50%{-webkit-transform:skew(-15deg,-15deg);transform:skew(-15deg,-15deg)}65%{-webkit-transform:skew(5deg,5deg);transform:skew(5deg,5deg)}75%{-webkit-transform:skew(-5deg,-5deg);transform:skew(-5deg,-5deg)}100%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}}@keyframes jello-diagonal-2{0%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}30%{-webkit-transform:skew(-25deg -25deg);transform:skew(-25deg -25deg)}40%{-webkit-transform:skew(15deg,15deg);transform:skew(15deg,15deg)}50%{-webkit-transform:skew(-15deg,-15deg);transform:skew(-15deg,-15deg)}65%{-webkit-transform:skew(5deg,5deg);transform:skew(5deg,5deg)}75%{-webkit-transform:skew(-5deg,-5deg);transform:skew(-5deg,-5deg)}100%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}}
/*  */

#auth {
  padding: 75px;
  border-radius:5px
}
#auth h2{
  margin-bottom: 15px;
  text-align: center
}
#auth form button{
  width: 100%
}

#auth .auth-links {
  padding-top: 25px;
  text-align: center;
}
#auth .auth-links a:not(:first-child){
  text-decoration: none;
  margin-left: 25px
}

.map{
  width: 100%;
  height: 250px;
  background-color: #000
}

.form-over{
  display: inline;
}
.form-over form{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 25px;
  z-index: 9999;
}
.form-over form input{max-width: 230px;}
.form-over form textarea, .form-over form button{max-width: 230px !important;min-width: 230px !important;}
.form-over form label{color: #fff}

// .is-hot-sale {}

.accordions {
  margin-top: 35px
}
.accordions .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordions .active, .accordions .accordion:hover {
  background-color: #ccc; 
}

.accordions .panel {
  padding: 25px 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}










.img-container {
  position: relative;
  // width: 50%;
}

.img-container .image {
  display: block;
  width: 100%;
  height: auto;
}

.img-container .img-text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:$red;
}

.img-container:hover .img-text-overlay {
  opacity: 1;
}

.img-container .text {
  color: white;
  font-size: .7em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.intranet{
  height: 100%;
}
.intranet-wrapper{
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.intranet-wrapper #intranet-body{
  margin-top: 25px;
}
#intranet-body{
  flex: 1 0 auto;
}
@media screen and (max-width: 425px){.is-size-7 {font-size: 0.7135rem !important;}}