// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
// 2. Setup your Custom Colors
$purple: hsl(275,87%,45%);
$purple-invert: findColorInvert($purple);
// 3. Add new color variables to the color map.
@import "bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "purple":($purple, $purple-invert),
);
$colors: map-merge($colors, $addColors);

$red: rgb(156, 10, 20);

@import 'bulma/bulma';
@import "bulma-carousel/dist/css/bulma-carousel";

*{font-family: 'Titillium Web', sans-serif;}
body {
  min-height: 100vh;
  background-color:#000;
  background-image:url('./bg.jpg');
  background-repeat:no-repeat;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.is-inventory{
  border-radius: 5px;
  padding: 5px;
}
.is-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
#is-inventory-load-more{
  width:45%;
  background-color: $red;
  border-color: $red;
  border-radius: 5px;
}
#is-img-centered{}
#is-searcher{
  padding: 5px;
  margin-top: 25px;
}
@media screen and (max-width: 425px){
  .is-size-7 {
    font-size: 0.7135rem !important;
  }
}

.copyright{
  width: 100%;
  border-top: 1px solid #fff;
}
.Branded{
  min-height: 80px;
}
#header{
  padding-top: 15px;
}

nav{
  border-top: 1px solid rgb(255, 0, 0);
  border-bottom: 1px solid rgb(255, 0, 0);
}
.nav ul{
  list-style: none;
}

.navbar-menu.is-active {
  display: block;
  height: 100vh;
  position: absolute;
  top: -81px;
  left: 0;
  right: 0;
  bottom: 0;
}